/*stile.css*/

.clase {
  text-align: right;
}
.color {
  color: white;
}
#caja {
  width: 500px;
  border: 5px solid rgb(102, 102, 102);
  padding: center;
  margin: center;
}

* {
  padding:0;
  margin:0;
}
h1 {
  text-align: center;
  backgroun-color: black;
  color: white;
  padding: 20px;
} 
nav ul {
  backgroun-color: #757575;
  width: 100%;
  text-align: center;
}
nav li {
  display: inline-flex;
}
nav a {
  text-decoration: none;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.contenido {
  display: flex;
  margin: 60px;
}
.articulos {
  width: 80%;
  border-right: 3px solid;
}
.secciones {
  display: flex;
  align-items: center;
  padding: 40px;
}
.menu-secundario {
  width: 20%;
  margin-top: 60px;
}
.menu-secundario a{
  display: block;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}